/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom starts */
*
*::before,
*::after{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: "roboto" sans-serif;
}
/* container */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
/* clearfix */
.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}

/* general */
.article-heading{
    font-size: 20px;
    color: skyblue;
    margin: 16px;
}

.article-text{
    color: #777;
    font-size: 16px;
}
.btn{
    background-color: skyblue;
    color: #ffff;
    padding: 12px 0;
    height: 72px;
    line-height: 72px;
    text-decoration: none;

}
.padding{
    padding: 60px 0;
}


/* header */
.header{
    background-color: skyblue;
    padding: 32px 0;
}


/* brand */
.brand{
    float: left;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
padding: 28px;
}
.nav a{
    float: right;
    text-decoration: none;
    font-size: px;
    padding-left: 18px;
    color: #fff;
    font-size: 24px;
    padding: 28px;
}
/* hero starts */
.hero{
    background-color: skyblue;
    padding: 80px 0;
    text-align: center;
    color: #fff;
}
.hero-heading{
    font-size: 48px;
    padding: 22px;
}
.hero-text{
    font-size: 20px;
}
/* feature */

.col-1-3{
    float: left;
    width: 30%;
    margin: 1.5%;
}
/* team  */
.team{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

}
.section-heading{
    color:skyblue;
    font-size: 42px;
    padding-top: 80px;
    margin-bottom: 30px;
}
.team-text{
    color: #777;
    font-size: 28px;
    margin-bottom: 100px;

}
/* img */
.team-img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 60px;
}
img{
    float: left;
    margin: 5%;
    border: 2px solid black;
}
/* end */
.end{
    text-align: center;
    padding: 80px;
}
.general-heading{
    color: skyblue;
    font-size: 42px;
}
.para{
    font-size: 28px;
    color: #777;
}
.end-img{
    width: 300px;
    height: 300px;
    margin: 4%;
}
/* footer */
.footer{
    background-color: skyblue;
 

}
.navigation {
    font-size: 28px;
    padding-right: 20px;
    text-align: center;
    color: #ffff;

}
.navigation a{
    text-decoration: none;
    margin-left: 50px;
}